/* 폰트 */
h1, 
.quiz_wrap #quiz_frm fieldset label,
.quiz_wrap #quiz_frm fieldset label input,
.quiz_wrap #quiz_frm fieldset label input::placeholder,
.dan2 p {font-family: 'SBAggroB';}
/* body */
body {
    background: url(../images/bg1.jpg) no-repeat center;
    background-size: cover;
    max-width: 1200px; min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    text-align: center;
}
h1 {font-size: 3rem; margin: 200px 0 20px 0; color: #fff;}
h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    width: 80px; height: 80px;
    border-radius: 50%;
    background:salmon;
    line-height: 80px;
    color:#fff;
    animation:txt 1s infinite linear alternate;
}
.quiz_wrap {
    padding: 30px; width:800px; 
    background-color: #fff; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.quiz_wrap h3 {margin-bottom: 20px; font-size: 1.5rem; font-weight: 700;}
.quiz_wrap #quiz_frm {}
.quiz_wrap #quiz_frm fieldset {}
.quiz_wrap #quiz_frm fieldset label {
    font-size: 2rem; color:salmon;
    border:#ccc solid 1px; padding: 10px 20px;
    border-radius: 10px;
}
.quiz_wrap #quiz_frm fieldset label input {width: 70px; padding: 10px; font-size: 2rem;}
.quiz_wrap #quiz_frm fieldset label input::placeholder {font-size: 2rem;}
.quiz_wrap #quiz_frm fieldset #answer_btn {
    padding: 20px; border-radius: 10px; background-color: skyblue;
    font-size:1.2rem; font-weight: 700;
    transition:all 0.3s;
}
.quiz_wrap #quiz_frm fieldset #answer_btn:hover {background-color: salmon; color:#fff;}
.dan2 {
    background-color: rgb(255, 201, 195);
    display: flex;
    flex-flow:row wrap;
    width: 800px;
    padding: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 100px;
}
.dan2 p {
    width: calc(50% - 20px / 9);
    font-size: 1.5rem;
    margin-bottom: 30px;
}
@keyframes txt {
    0% {transform:translateY(0);}
    100% {transform:translateY(-10px);}
}