/* 폰트 */
h1 {font-family: 'SBAggroB';}
/* body */
body {
    background: #d6f0fc;
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    gap:20px;
}
.top {
    width: 50px; height: 50px;
    margin-top: 100px;
}
.top img {width: 100%;}
h1 {font-size: 3rem; font-weight: 700; color: #0373a7;}
h2 {font-size: 1.5rem;}
#scale_frm {
    background: #fff;
    padding: 50px;
    width: 500px;
    border-radius: 30px;
}
#scale_frm fieldset {
    display: flex;
    flex-flow:row wrap;
    gap:20px;
    justify-content: center;
    align-content: center;
}
#scale_frm fieldset label {
    width: 100%;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
#scale_frm fieldset label input {
    width: calc(100% - 100px); padding: 10px; 
    border: #ccc solid 1px;
    border-radius: 5px;
}
#scale_frm fieldset label:nth-child(2) input {margin-left: 35px;}
#scale_frm fieldset button {width:calc(50% - 10px); height: 50px; border-radius: 10px; font-weight: 500; font-size: 1.075rem;}
#scale_frm fieldset #answer_btn {background-color: #f88644; color:#fff;}
#scale_frm fieldset #reset_btn {background-color: #ccc; color:#fff;}
.result {
    background: #fff;
    width: 500px;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    font-size: 1.2rem;
}